{% extends 'base.html' %}

{% block content %}

<div class="column">
    <div class="block">
      <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">
                  Account: {{ account.account_name }}
                </p>
                <p class="title is-6">
                  Amount: {{ account.amount }}
                </p>
              </div>
            </div>
                <a href="{% url 'money_keeper_app:upd_account' account.id %}">
                    <button class="button is-info ">
                        Update
                    </button>
                </a>
          </div>
      </div>
    </div>
   <div class="block">
      {% for expense in expenses %}
      <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                    <p class="title is-5">
                      Expense: -{{ expense.count }} ({{expense.created_at}})
                    </p>
                    <p class="title is-6">
                      {{ expense.expense }}
                    </p>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</div>

<div class="column is-one-third">
    <div class="block">
        <a href="{% url 'money_keeper_app:account' account.id %}">
            <button class="button is-info is-fullwidth">
                All payments
            </button>
        </a>
    </div>
    <div class="block">
        <a href="{% url 'money_keeper_app:income_list' account.id %}">
            <button class="button is-info is-fullwidth">
                Incomes
            </button>
        </a>
    </div>
    <div class="block">
        <a href="{% url 'money_keeper_app:expense_list' account.id %}">
            <button class="button is-info is-outlined is-fullwidth">
                Expenses
            </button>
        </a>
    </div>
</div>

{% endblock content %}