{% extends 'base.html' %}

{% block content %}

<div class="column is-one-third">
    <div class="box">
        <div class="block">
            <p class="title is-2">
                Edit income type
            </p>
        </div>
        <div class="block">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-info is-fullwidth is-normal mt-5" type="submit">
                    Update income type
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}